<div class="container">
  <div class="card">
    <div class="card-body">
      <form #myform="ngForm" (ngSubmit)="create(myform)" class="form form-register">

        <div class="form-group">
          <label class="col-md-4">Client Name</label>
          <input type="text" class="form-control" name="clientName" id="clientName" placeholder="Client Name" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">Customer ID</label>
          <input type="text" class="form-control" name="customerID" id="customerID" placeholder="Customer ID" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">Contract Number</label>
          <input type="text" class="form-control" name="contractNumber" id="contractNumber" placeholder="Contract Number" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">Current Project</label>
          <input type="text" class="form-control" name="currentProject" id="currentProject" placeholder="Current Project" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">Current Unit Number</label>
          <input type="text" class="form-control" name="currentUnitNumber" id="currentUnitNumber" placeholder="Current Unit Number" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">Price</label>
          <input type="number" class="form-control" name="price" id="price" placeholder="Price" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">GP $</label>
          <input type="number" class="form-control" name="gp" id="gp" placeholder="GP %" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">GP Value</label>
          <input type="number" class="form-control" name="gpValue" id="gpValue" placeholder="GP Value" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">SIMAH</label>
          <input type="number" class="form-control" name="simah" id="simah" placeholder="SIMAH" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">Type of Counter Offers</label>
          <input type="text" class="form-control" name="typeOfCounterOffers" id="typeOfCounterOffers" placeholder="Type of Counter Offers" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">Description</label>
          <input type="text" class="form-control" name="description" id="description" placeholder="Description" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">VAS</label>
          <input type="text" class="form-control" name="vas" id="vas" placeholder="VAS" ngModel required>
        </div>
        <div class="form-group">
          <label class="col-md-4">Ref. No.</label>
          <input type="text" class="form-control" name="refNo" id="refNo" placeholder="Ref. No." ngModel required>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Register">
        </div>
      </form>
    </div>
  </div>
</div>
