<table #dataTable class="display table table-striped table-bordered dt-responsive" style="width:100%">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Customer ID</th>
      <th>Contact Number</th>
      <th>Current Project</th>
      <th>Current Unit Number</th>
      <th>Price</th>
      <th>GP</th>
      <th>GP Value</th>
      <th>SIMAH</th>
      <th>Description</th>
      <th>Counter Offers</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let retention of retentionVm">
      <td>{{ retention.clientName }}</td>
      <td>{{ retention.customerID }}</td>
      <td>{{ retention.contactNumber }}</td>
      <td>{{ retention.currentProject }}</td>
      <td>{{ retention.currentUnitNumber }}</td>
      <td>{{ retention.price }}</td>
      <td>{{ retention.gp }}</td>
      <td>{{ retention.gpValue }}</td>
      <td>{{ retention.simah }}</td>
      <td>{{ retention.description }}</td>
      <td>{{ retention.typeOfCounterOffers }}</td>
    </tr> -->
  </tbody>
</table>
