<form #myform="ngForm" (ngSubmit)="create(myform)" class="form form-register">

  <div class="form-group row ">
    <div class="col-md-8">
      <h2>Residential Customer Retention Request Form</h2>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label for="date" class="col-sm-4 col-form-label">Date</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="date" placeholder="Date">
        </div>
      </div>
      <div class="form-group row">
        <label for="refNo" class="col-sm-4 col-form-label">Ref. No:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="refNo" placeholder="Ref. No:">
        </div>
      </div>
    </div>
  </div>
  <ngb-tabset class="tabset1" [destroyOnHide]="false">
    <ngb-tab title="Requestor Information">
      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-body">

            <div class="form-group">
              <label class="col-md-4">Client Name</label>
              <input type="text" class="form-control" name="clientName" id="clientName" placeholder="Client Name" ngModel required>
            </div>
            <div class="form-group">
              <label class="col-md-4">Customer ID</label>
              <input type="text" class="form-control" name="customerID" id="customerID" placeholder="Customer ID" ngModel required>
            </div>
            <div class="form-group">
              <label class="col-md-4">Contract Number</label>
              <input type="text" class="form-control" name="contractNumber" id="contractNumber" placeholder="Contract Number" ngModel required>
            </div>
            <div class="form-group">
              <label class="col-md-4">Current Project</label>
              <input type="text" class="form-control" name="currentProject" id="currentProject" placeholder="Current Project" ngModel required>
            </div>
            <div class="form-group">
              <label class="col-md-4">Current Unit Number</label>
              <input type="text" class="form-control" name="currentUnitNumber" id="currentUnitNumber" placeholder="Current Unit Number" ngModel required>
            </div>
            <div class="form-group">
              <label class="col-md-4">Price</label>
              <input type="number" class="form-control" name="price" id="price" placeholder="Price" ngModel required>
            </div>
            <div class="form-group">
              <label class="col-md-4">GP $</label>
              <input type="number" class="form-control" name="gp" id="gp" placeholder="GP %" ngModel required>
            </div>
            <div class="form-group">
              <label class="col-md-4">GP Value</label>
              <input type="number" class="form-control" name="gpValue" id="gpValue" placeholder="GP Value" ngModel required>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">SIMAH</label>
            </div>
            <div class="form-group">
              <input type="button" class="btn btn-primary" value="Next">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Type of Counter Offers">
      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-body">
            <div class="form-check row">
              <label class="col-sm-1">1</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Merge (Please fill below table)</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">2</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Expedite Handover</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">3</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Discounts & Rebates</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">1</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Exceptional Approval</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">4</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Upgrade</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">5</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Downgrade</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">1</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Swapping Property</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">6</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Reschedule</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">7</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Waive Service Charges</label>
            </div>
            <div class="form-check row">
              <label class="col-sm-1">8</label>
              <input type="checkbox" class="form-check-input" id="simah">
              <label class="form-check-label" for="simah">Waive VAS</label>
            </div>


            <div class="form-group">
              <label class="col-md-4">Description</label>
              <input type="text" class="form-control" name="description" id="description" placeholder="Description" ngModel required>
            </div>
            <div class="form-group">
              <input type="button" class="btn btn-primary" value="Next">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="title1">VAS</span></ng-template>
      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-body">
            
            <div class="form-group">
              <label class="col-md-4">VAS</label>
              <input type="text" class="form-control" name="vas" id="vas" placeholder="VAS" ngModel required>
            </div>
            <div class="form-group">
              <input type="button" class="btn btn-primary" value="Next">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Committee</b>&nbsp;<i>Approval</i></ng-template>
      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Register">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</form>
