
<hr>
<b>EZConnect. Connecting EEC made easy</b>
<p>
EZConnect is the predecessor of myDirectory, an in-house web application developed by Workplace Services (WPS), as part of Workplace Solutions project and in line with EEC's ACE initiatives.
</p>
<p>
Workplace Services will be implementing a transition from myDirectory to this new portal with streamlined look, new features and addtional functionalities.
</p>
<p>
WPS will appreciate if you can report any known issues or bugs. For feedback, comments and suggestions, please contact soliveros@kaec.net
<p>
<hr>

<small>powered by</small><br> Workplace Solutions<br>
<small>King Abdullah Economic City</small>